# Django
DEBUG=True
DJANGO_SECRET_KEY=change-this-for-local-development

# PostgreSQL
POSTGRES_DB=cyber_guard_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=YOUR_POSTGRES_PASSWORD
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
DB_CONN_MAX_AGE=60

# CORS
CORS_ALLOW_ALL_ORIGINS=True

# JWT
JWT_ACCESS_MINUTES=30
JWT_REFRESH_DAYS=1

# Optional services
TURNSTILE_SECRET_KEY=
